
body  {
    font-family:Tahoma, sans-serif;
    font-size: 2rem;
    margin: 0.67em ;
    padding: 5rem;
    text-align: center;
    border-style: solid;
    border-color: #e199f7;
    border-width: 3rem;
}
header {
    border: #333;
    display: flex;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5em;
    margin-bottom: 10em;
}

#contact {
    flex-wrap: wrap;
    li {
        display: inline;
      }
      li a:hover {
        background-color: #EFB11D;
      }
      li a {
        display: block;
        color: #000000;
        padding: 14px 16px;
        text-decoration: none;
      }
      .active {
        background-color: #631FE6
      }
    background-color: #e199f7;
    padding: 0rem;
    margin: 2rem;
    border: 5px solid #631FE6;
    list-style-type: none;
    text-align: center;
    font-style: italic;


}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 2em;
    list-style-type: flex;
    font-size: 10px;
}
#reviewstitle {
    text-align: left;
    margin: 1;
    padding: 1em;
    list-style-type: none;
    
}


#reviews {
    text-align: center;
    margin: 1;
    padding: 1em;
    list-style-type: none;
    font-size: 1.5rem;
    
}
h2 {
    text-align: right;
    margin: 1;
    padding: 1em;
    list-style-type: none;
    font-size: 2rem;
    
}



#aboutme {
    text-align: right;
    font-family:'Courier New', Courier, monospace;
    margin: 1;
    padding: 5em;
    list-style-type: none;
    justify-content: left;
    font-size:20px;
    border: 10px solid #FA6E61;
    background-color: #FA6E61;
}

#footer {
    background-color: #EFB11D;
    color: #000000;
    text-align: right;
    padding: 1em;
    margin-top: 10em;
    border: 3px solid #000000;

}